@model MattBaines.Models.AdvertisingCreativeModel
@*<div class="section_title">
    <p>Advertising Creative</p>
    <a href="/"><img src="@Url.Content("~/Content/images/ac_heading.png")" alt="Matt Baines" /></a>
</div>*@
@*<ul class="ACcategory_list">
@foreach (var category in Model.Categories.OrderBy(x => x.Id))
{
    <li><a href="#">@category.Name</a><div style="background-color:@category.Colour"></div></li>
}
</ul>*@

    @foreach (var category in Model.Categories.OrderBy(x => x.SortOrder))
    {<div class="ac_category @category.Name.Replace(" ", "_") @if(category.Objects.Count == 1) { <text>ac_object_small</text> }">
      <img src="/Content/images/AdvertisingCreative/@category.ImagePath" alt="@category.Name" class="category_img" />
      <div class="@(category.Name.Replace(" ", "_"))_items @if(category.Objects.Count >1) { <text>ac_object_list</text> }">
	    <ul>
            @foreach (var ACobject in Model.Objects.Where(x => x.CategoryId == category.Id).OrderBy(x => x.CategoryId))
            {
                <li><a href="@Url.Action("Details", "AdvertisingCreative", new { ID = ACobject.Id })"><img src="/Content/images/AdvertisingCreative/@ACobject.ImagePath" alt="@ACobject.ImagePath" /></a></li>
            }
        </ul>
      </div>
      </div>
    }
