@model MattBaines.Models.AdvertisingCreativeModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
    ViewBag.Title = "Advertising Creative";
}


@*    @foreach (var category in Model.Categories) {
        <div>
        @foreach (var ACobject in Model.Objects.Where(x => x.Category == category))
        {
            <a href="@Url.Action("Details", new { ID = ACobject.Id })" style="display:inline-block;background-color:@ACobject.Category.Colour;padding:10px;">@ACobject.Title</a>
        }
        </div>
    }*@
<div id="ac_details">
@Html.ActionLink("Back", "Index", "Home", null, null, "advertisingcreative", null, new { @class = "btn btn-info btn-small" })
<h2>@Model.ACObject.Title</h2>


@Html.Raw(Model.ACObject.Content)
</div>

