@model MattBaines.Models.AdvertisingCreativeModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
    ViewBag.Title = "Advertising Creative";
}

<ul class="ACcategory_list">
@foreach (var category in Model.Categories.OrderBy(x => x.Id))
{
    <li><a style="border:5px solid @category.Colour !important;">@category.Name</a></li>
}
</ul>
<div class="clear"></div>
<div id="tj_container" class="tj_container">
	<div class="tj_nav">
		<span id="tj_prev" class="tj_prev">Previous</span>
		<span id="tj_next" class="tj_next">Next</span>
	</div>
	<div class="tj_wrapper">
		<ul class="tj_gallery">
            @foreach (var ACobject in Model.Objects.OrderBy(x => x.CategoryId))
            {
                <li><a href="@Url.Action("Details", new { ID = ACobject.Id })" style="background-color: @ACobject.Category.Colour !important;"><img src="/Content/images/AdvertisingCreative/@ACobject.ImagePath" alt="@ACobject.ImagePath" /></a></li>
            }
        </ul>
    </div>
</div>
