@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller_name = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action_name = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();    
}
@section StyleSheet {
    @RenderSection("StyleSheet", required: false)
}
@section JavaScript {
    @RenderSection("JavaScript", required: false)
}

<div id="wrapper">
    <div id="header">
        <div id="headercontainer">
            <div id="headercontainerinner">
                @*<a href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]">
                    @System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]
                </a>*@
                <a id="email" class="icon" href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]"></a>
                <a id="twitter" class="icon" href="#"></a>
                <a id="linkedin" class="icon" href="#"></a>
            </div>
        </div>
        <div id="title">
            <a href="/"><img src="@Url.Content("~/Content/images/Title.png")" alt="Matt Baines" /></a>
        </div>    
        <div id="menucontainer">
            <div id="menucontainer_content">    
                <ul id="menu">
                    <li @if (controller_name == "advertisingcreativecategory") {<text>class="selected"</text>}>@Html.ActionLink("Advertising Creative Categories", "Index", "AdvertisingCreativeCategory")</li>
                    <li @if (controller_name == "advertisingcreativeobject") {<text>class="selected"</text>}>@Html.ActionLink("Advertising Creative Articles", "Index", "AdvertisingCreativeObject")</li>
                    <li @if (controller_name == "workilike"){<text>class="selected"</text>}>@Html.ActionLink("Work I Like", "List", "WorkILike")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
            <div id="admin_content">
            <h4 class="float">@ViewBag.Title</h4>
                @RenderBody()
            </div>
    </div>
    <div class="push"></div>
</div>
@Html.Partial("~/Views/Shared/_Footer.cshtml")