<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Matt Baines</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/UITheme/uitheme.css")" rel="stylesheet" type="text/css" />
    @RenderSection("StyleSheet", required: false)
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Application.js")" type="text/javascript"></script>
    @RenderSection("JavaScript", required: false)
</head>
<body>
@if (TempData["Notice"] != null)
{
    <div id="notice_dialog" style="display:none" title="Notice">
        @Html.Raw(TempData["Notice"].ToString())
    </div>
}
        @RenderBody()
</body>
</html>
