@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller_name = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var action_name = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();    
}
@section StyleSheet {
    @RenderSection("StyleSheet", required: false)
}
@section JavaScript {
    @RenderSection("JavaScript", required: false)
}

<div id="wrapper">
    <div id="header">
        <div id="headercontainer">
            <div id="headercontainerinner">
                @*<a href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]">
                    @System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]
                </a>*@
                <a id="email" class="icon" href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]"></a>
                <a id="twitter" class="icon" href="#"></a>
                <a id="linkedin" class="icon" href="#"></a>
            </div>
        </div>
  
    </div>
    <div id="main">
        <div id="title">
            <a href="/"><img src="@Url.Content("~/Content/images/Title.png")" alt="Matt Baines" /></a>
        </div>  
            <div id="admin_content" style="width:400px;margin: 50px auto;text-align:center;">
            <h4>@ViewBag.Title</h4>
            <br />
            <div class="clear"></div>
                @RenderBody()
            </div>
    </div>
    <div class="push"></div>
</div>
@Html.Partial("~/Views/Shared/_Footer.cshtml")