@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller_name = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var action_name = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();    
}
@section StyleSheet {
    @RenderSection("StyleSheet", required: false)
}
@section JavaScript {
    @RenderSection("JavaScript", required: false)
}

<div id="wrapper">
    <div id="header">
        <div id="headercontainer">
            <div id="headercontainerinner">
                @*<a href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]">
                    @System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]
                </a>*@
                <a id="email" class="icon" href="mailto:@System.Web.Configuration.WebConfigurationManager.AppSettings["EmailAddress"]"></a>
                <a id="twitter" class="icon" href="#"></a>
                <a id="linkedin" class="icon" href="#"></a>
            </div>
        </div>
        <div id="title">
            <a href="/"><img src="@Url.Content("~/Content/images/Title.png")" alt="Matt Baines" /></a>
        </div>    
        @*<div id="menucontainer">
            <div id="menucontainer_head"></div>
            <div id="menucontainer_content">    
                <ul id="menu">
                    <li @if (controller_name == "AdvertisingCreative") {<text>class="selected"</text>}><a href="javascript:void(0)" id="advertisingcreative_link">Advertising Creative</a></li>
                    <li @if (controller_name == "WorkILike"){<text>class="selected"</text>}><a href="javascript:void(0)" id="workilike_link">Work I Like</a></li>
                    *@@*<li><a href="http://mattbaines.blogspot.co.uk/" target="_blank">My Blog</a></li>
                    <li><a href="http://thebackdroptoadventure.tumblr.com/" target="_blank">More From Me</a></li>*@
                    @*<li><a href="javascript:void(0)" id="morefromme_link">More From Me</a></li>
                </ul>
            </div>
            <div id="menucontainer_foot" class="clear"></div>
        </div>*@
    </div>
    <div id="main">
            @*<h2>@ViewBag.Title</h2>
            @Html.Partial("_LogOnPartial")
            <div class="clear" style="padding-bottom: 20px;"></div>*@
            @RenderBody()
    </div>
    <div class="push"></div>
</div>
@Html.Partial("~/Views/Shared/_Footer.cshtml")