@model MattBaines.Models.WorkILikeModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
    ViewBag.Title = "Advertising Creative";
}

@section Sidebar {
<div>
    @foreach (var wil in Model.WorkILikeEntries) {
                <a href="@Url.Action("Details", new { ID = wil.Id })" class="workilike_sidebarlink">@wil.Title</a>
    }
</div>
}
<div class ="clear">
@Html.ActionLink("Back", "Index")
<h3>@Model.workILikeObject.Title</h3>


@Html.Raw(Model.workILikeObject.Summary)
</div>

